
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}


.container {
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

.sidebar {
    width: 20%;
    background-color: #9ec6f8;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.main-content {
    width: 80%;
    padding: 20px;
    background-color: #B6D1FA;
    box-sizing: border-box;
    overflow: auto;
}

footer {
    background-color: #d8e7ff;
    border-top: 10px solid #184d9d;
    padding: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333;
    margin-top: auto;
}

.details-container {
    display: flex;
    align-items: center;
    color: white;
    flex-wrap: wrap; 
    margin-bottom: 20px; 
}

.details-labels, .details-info {
    padding: 10px;
    flex: 1;
}

.details-info {
    position: relative;
}

.details-info::before {
    content: ""; 
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0; 
    width: 2px; 
    background-color: white;
}

.tab-button {
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tab-button:hover {
    background-color: #86b3ea;
}

.tab-button.active {
    background-color: #365899; 
    border-bottom: 3px solid white; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #b6d1fa;
}

header {
    background-color: #22529b;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    height: 80px;
    width: auto;
    margin-left: 20px;
}

#datetime {
    font-size: 18px;
    color: white;
    margin-right: 20px;
    margin-top: 30px;
}

nav {
    background-color: #4a82d8;
    overflow: hidden;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    display: block;
    color: white;
    text-align: center;
    align-items: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    background-color: #365899;
}

nav ul li.about-us {
    margin-right: auto;
}

nav ul li.logout {
    margin-left: auto;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

@-webkit-keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

@keyframes fade {
    from { opacity: .4; }
    to { opacity: 1; }
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #365899;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-left: -25px;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 12px;
    position: relative;
}

.dropdown-content a::after {
    content: '';
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.5s ease;
}

.dropdown-content a:hover::after {
    width: 100%;
}

.dropdown-content a:hover {
    background-color: #0b2e63;
}

.reports-dropdown a:hover,
.programs-dropdown a:hover {
    background-color: #0b2e63;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.reports-dropdown {
    display: none;
    position: absolute;
    background-color: #365899;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-left: 50px;
}

.contact-dropdown {
    display: none;
    position: absolute;
    background-color: #365899;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-left: -25px;
}

.logout-dropdown {
    display: none;
    position: absolute;
    background-color: #365899;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-left: -2px;
}

.programs-dropdown {
    display: none;
    position: absolute;
    background-color: #365899;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
    z-index: 1;
    margin-left: -30px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.footer-logo {
    width: 150px;
    height: 150px;
    margin-left: -100px;
    margin-top: 30px;
}

.footer-links {
    display: flex;
    justify-content: space-between;
    flex: 5;
    flex-wrap: wrap;
}

.footer-links div {
    margin-right: 40px;
    text-align: left;
    flex: 1;
    max-width: 300px;
}

.footer-links h3 {
    margin-bottom: 10px;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 5px;
}

.footer-links ul li a {
    text-decoration: none;
    color: #333;
}

.footer-links ul li a:hover {
    text-decoration: underline;
}

.footer-bottom {
    width: 100%;
    text-align: left;
    padding-left: 20px;
}

.contact-section {
    flex: 1;
    margin-left: 200px;
}

.contact-section p {
    margin-top: 10px;
}

.contact-section p strong,
.contact-section p a {
    color: #333;
    text-decoration: none;
}

.contact-section p a:hover {
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 10px;
    justify-content: flex-start;
    margin-left: 50px;
}

@media (max-width: 1200px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-description,
    .about-us-section,
    .contact-section,
    .follow-connect {
        margin: 10px 0;
        text-align: center;
        margin: 10px;
    }

    .slideshow-container {
        width: 100%;
    }
}

@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    .footer-content {
        text-align: center;
    }

    .footer-links {
        flex-direction: column;
        align-items: center;
    }

    .footer-links div {
        margin: 10px 0;
    }

    .footer-bottom {
        padding-left: 0;
    }
}

@media (max-width: 480px) {
    .header,
    .nav,
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .header img,
    .footer-logo {
        height: 50px;
        margin: 0 auto;
    }

    .footer-description,
    .about-us-section,
    .contact-section,
    .follow-connect {
        margin: 5px 0;
        text-align: center;
    }

    .footer-links ul {
        padding: 0;
    }

    .footer-links ul li {
        margin-bottom: 5px;
    }

    .footer-bottom {
        padding: 10px;
    }
}

footer p {
    margin: 0;
}

.footer-description {
    flex: 1;
    text-align: left;
    margin-left: 20px;
    margin-top: 40px;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding: 10px 0;
}

.about-us-section {
    flex: 1;
    margin-left: 150px;
    margin-top: 10px;
}

.contact-section {
    flex: 1;
    margin-left: 80px;
    text-align: left;
    margin-top: 10px;
}

.contact-section h3 {
    margin-bottom: 10px;
}

.contact-section p {
    margin-top: 5px;
}

.contact-section p strong,
.contact-section p a {
    color: #333;
    text-decoration: none;
}

.contact-section p a:hover {
    text-decoration: none;
}

.follow-connect {
    text-align: left;
    flex: 1;
    margin-right: 70px;
}

.social-icons a img {
    width: 30px;
    height: 30px;
}

.profile-pic img {
    width: 80%;
    border-radius: 50%;
}

.menu {
    margin-top: 20px;
}

.menu-item {
    display: block;
    padding: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    width: 100%;
}

.menu-item:hover {
    background-color: #86b3ea;
}

.profile-header {
    font-size: 20px;
    margin-top: -2%;
}

.profile-header h1,
.profile-header p {
    color: white;
}

.nav-tabs {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.tab {
    padding: 10px 20px;
    margin-right: 10px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.tab:hover {
    background-color: #86b3ea;
}

.tab.active {
    border-bottom: 3px solid white;
}

.tab-line {
    border-bottom: 3px solid white;
    width: 70%; 
    margin-top: -3px;
}

.section {
    margin-top: 20px;
}

.section h2 {
    color: white;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th,
td {
    border: 2px solid white;
    padding: 10px;
    text-align: left;
    width: 25%;
}

th {
    background-color: #4a82d8;
    color: white;
}
